
<div class="container d-flex justify-content-center mt-5">
  <div class="row">
    <p class="card-text mt-3 h5">
      {{ products.name }}
    </p>
    <div class="product-wrapper text-center">
      <div class="product-img">
        <a [routerLink]="['/product', products.id]">
          <img
            [src]="imgUrl + products.name +'/'+ products.img"
            class="card-img-top rounded-4"
            [alt]="products.name"
            style="object-fit: cover"
          />
        </a>
        <span class="newspan">
          <i class="fas fa-money-check-alt 2xl me-3"></i
          >{{ products.price | price }}</span
        >
        <div class="product-action">
          <div class="product-action-style">
            <a
              class="btn"
              (click)="addProductToCart(products)"
              [class.disabled]="!products.stock"
              ><i class="fa-solid fa-cart-plus fa-lg"></i>
            </a>
            <div
              class="list-group-item fw-bold"
              [ngClass]="{
                'text-success': products.stock,
                'text-danger': !products.stock
              }"
            >
              {{ products.stock | stock }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <p class="card-text mt-3">
      {{ products.description | truncate : 10 }}
    </p> -->
  </div>
</div>
