<div class="container mt-5" [dir]="'dir' | translate">
  <h2>{{'Terms and Conditions' | translate}}</h2>
  <p>{{'Last updated' | translate}}: {{'September 28, 2023' | translate}}</p>
  <p>
    {{'Explore these terms and conditions thoroughly before engaging with Our Beauty Service.' | translate}}
  </p>

  <h2>{{'Interpretation and Definitions' | translate}}</h2>
  <h3>{{'Understanding' | translate}}</h3>
  <p>
    {{'Words with capitalized initials have specific meanings under the following guidelines. These definitions apply whether in singular or plural form.' | translate}}
  </p>

  <h3>{{'Definitions' | translate}}</h3>
  <p>{{'For the purposes of these Beauty Terms and Conditions:' | translate}}</p>
  <ul>
    <li>
      <p>
        <strong>{{'Affiliate'|translate}}</strong> {{"refers to an entity controlling, controlled by, or under common control with a party. 'Control' entails ownership of 50% or more of shares, equity interest, or other securities with voting rights for the election of directors or other managing authority." | translate}}
      </p>
    </li>
    <li>
      <p><strong>{{'Country' | translate}}</strong> {{'pertains to: Egypt' | translate}}</p>
    </li>

    <li>
      <p>
        <strong>{{'Company' | translate}}</strong> {{"(referred to as 'the Beauty Company', 'We', 'Us' or 'Our' in this Agreement) represents the beauty entity in Egypt." | translate}}
      </p>
    </li>
    <li>
      <p>
        <strong>{{'Device' | translate}}</strong> {{'encompasses any tool capable of accessing our Beauty Service, such as a computer, cellphone, or digital tablet.' | translate}}
      </p>
    </li>
    <li>
      <p><strong>{{'Service' | translate}}</strong> {{"pertains to the Beauty Website." | translate}}</p>
    </li>
    <li>
      <p>
        <strong>{{'Terms and Conditions' | translate}}</strong> {{"(also referred to as 'Beauty Terms') constitute the comprehensive agreement between You and the Company concerning the usage of our Beauty Service." | translate}}
      </p>
    </li>
    <li>
      <p>
        <strong>{{'Third-party Social Media Service' | translate}}</strong> {{'includes any services or content (data, information, products, or services) from third parties displayed, included, or made available through the Beauty Service.' | translate}}
      </p>
    </li>

    <li>
      <p>
        <strong>{{'Website' | translate}}</strong> {{'is accessible from' | translate}}
        <a href="{{ web }}" rel="external nofollow noopener">{{ web }}</a>
      </p>
    </li>
    <li>
      <p>
        <strong>{{'You' | translate}}</strong> {{'refers to the individual accessing or using the Beauty Service, or the company, or another legal entity on behalf of which such an individual is accessing or using the Beauty Service, as applicable.' | translate}}
      </p>
    </li>
  </ul>
  <h2>{{'Acknowledgment'| translate}}</h2>
  <p>
    {{'These are the Beauty Terms and Conditions governing the use of our Beauty Service and the agreement that operates between You and the Beauty Company. These Beauty Terms and Conditions outline the rights and obligations of all users regarding the use of the Beauty Service.' | translate}}
  </p>
  <p>
    {{'Your access to and use of the Beauty Service is conditioned on Your acceptance of and compliance with these Beauty Terms and Conditions. They apply to all visitors, users, and others who access or use the Beauty Service.' | translate}}
  </p>
  <p>
    {{'By accessing or using the Beauty Service, You agree to be bound by these Beauty Terms and Conditions. If You disagree with any part of these Beauty Terms and Conditions, then You may not access the Beauty Service.' | translate}}
  </p>
  <p>
    {{'You represent that you are over the age of 18. The Beauty Company does not permit those under 18 to use the Beauty Service.' | translate}}
  </p>

  <p>
    {{"Your access to and use of our Beauty Service is also contingent upon Your acceptance and adherence to the Beauty Company's Privacy Policy. Our Privacy Policy delineates the Beauty Company's policies and procedures regarding the collection, use, and disclosure of Your personal information when You use our Beauty Application or Website, and informs You about Your privacy rights and how the law protects You. Please carefully read Our Privacy Policy before using Our Beauty Service." | translate}}
  </p>
  <h2>{{'Links to Other Beauty Websites' | translate}}</h2>
  <p>
    {{'Our Beauty Service may contain links to third-party websites or services that are not owned or controlled by the Beauty Company.' | translate}}
  </p>
  <p>
    {{'The Beauty Company has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third-party websites or services. You further acknowledge and agree that the Beauty Company shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods, or services available on or through any such websites or services.' | translate}}
  </p>
  <p>
    {{'We strongly recommend You read the terms and conditions and privacy policies of any third-party websites or services that You visit.' | translate}}
  </p>
  <h2>{{'Termination of Beauty Service' | translate}}</h2>
  <p>
    {{'We may terminate or suspend Your access immediately, without prior notice or liability, for any reason whatsoever, including without limitation if You breach these Beauty Terms and Conditions.' | translate}}
  </p>
  <p>
    {{'Your right to use the Beauty Service will cease immediately upon termination.' | translate}}
  </p>

  <h2>{{'Limitation of Beauty Liability' | translate}}</h2>
  <p>
    {{"Despite any damages that You might incur, the entire liability of the Beauty Company and any of its suppliers under any provision of these Beauty Terms and Your exclusive remedy for all of the foregoing shall be limited to the amount actually paid by You through the Beauty Service or 100 USD if You haven't purchased anything through the Beauty Service." | translate}}
  </p>
  <p>
    {{"To the maximum extent permitted by applicable law, in no event shall the Beauty Company or its suppliers be liable for any special, incidental, indirect, or consequential damages whatsoever (including, but not limited to, damages for loss of profits, loss of data or other information, for business interruption, for personal injury, loss of privacy arising out of or in any way related to the use of or inability to use the Beauty Service, third-party software, and/or third-party hardware used with the Beauty Service, or otherwise in connection with any provision of these Beauty Terms), even if the Beauty Company or any supplier has been advised of the possibility of such damages and even if the remedy fails of its essential purpose." | translate}}
  </p>
  <p>
    {{"Some states do not allow the exclusion of implied warranties or limitation of liability for incidental or consequential damages, which means that some of the above limitations may not apply. In these states, each party's liability will be limited to the greatest extent permitted by law." | translate}}
  </p>
  <h2>&quot;{{'AS IS' | translate}}&quot; {{'and' | translate}} &quot;{{'AS AVAILABLE' | translate}}&quot; {{'Beauty Disclaimer' | translate}}</h2>
  <p>
    {{'The Beauty Service is provided to You' | translate}} &quot;{{'AS IS' | translate}}&quot; {{'and' | translate}} &quot;{{'AS AVAILABLE' | translate}}&quot;
    {{'and with all faults and defects without warranty of any kind.' | translate}}
    {{'To the maximum extent permitted under applicable law, the Beauty Company,' | translate}}
    {{'on its own behalf and on behalf of its Affiliates and its and their respective licensors and service providers,' | translate}}
    {{'expressly disclaims all warranties, whether express, implied, statutory or otherwise,' | translate}}
    {{'with respect to the Beauty Service, including all implied warranties of merchantability,' | translate}}
    {{"fitness for a particular purpose, title and non-infringement," | translate}}
    {{'and warranties that may arise out of course of dealing, course of performance, usage or trade practice.' | translate}}
    {{'Without limitation to the foregoing, the Beauty Company provides no warranty or undertaking, and makes no representation of any kind that the Beauty Service will meet Your requirements,' | translate}}
    {{'achieve any intended results, be compatible or work with any other software, applications, systems or services, operate without interruption, meet any performance or reliability standards,' | translate}}
    {{'or be error-free or that any errors or defects can or will be corrected.' | translate}}
  </p>

  <p>
    {{"Without limiting the beauty aspects, neither the Beauty Company nor any of its providers make any representation or warranty of any kind, express or implied: (i) as to the operation or availability of the Beauty Service, or the information, content, and materials or products included therein; (ii) that the Beauty Service will be uninterrupted or error-free; (iii) as to the accuracy, reliability, or currency of any information or content provided through the Beauty Service; or (iv) that the Beauty Service, its servers, the content, or e-mails sent from or on behalf of the Beauty Company are free of viruses, scripts, trojan horses, worms, malware, time bombs, or other harmful components." | translate}}
  </p>
  <p>
    {{"Some jurisdictions do not allow the exclusion of certain types of warranties or limitations on applicable statutory rights of a consumer, so some or all of the above exclusions and limitations may not apply to You. But in such a case, the exclusions and limitations set forth in this section shall be applied to the greatest extent enforceable under applicable law." | translate}}
  </p>
  <h2>{{"Governing Beauty Law" | translate}}</h2>
  <p>
    {{"The laws of Beauty Country, excluding its conflicts of beauty law rules, shall govern these Beauty Terms and Your use of the Beauty Service. Your use of the Beauty Application may also be subject to other local, state, national, or international beauty laws." | translate}}
  </p>
  <h2>{{"Beauty Disputes Resolution" | translate}}</h2>
  <p>
    {{"If You have any beauty or dispute about the Beauty Service, You agree to first try to resolve the beauty dispute informally by contacting the Beauty Company." | translate}}
  </p>
  <h2>{{"For Beauty European Union (EU) Users" | translate}}</h2>
  <p>
    {{"If You are a European Union beauty consumer, you will benefit from any mandatory provisions of the beauty law of the country in which you are resident in." | translate}}
  </p>
  <h2>{{"Beauty United States Legal Compliance" | translate}}</h2>
  <p>
    {{'You represent and warrant that (i) You are not located in a country that is subject to the United States government embargo, or that has been designated by the United States government as a &quot;terrorist supporting&quot; country, and (ii) You are not listed on any United States government list of prohibited or restricted beauty parties.' | translate}}
  </p>
  <h2>{{'Beauty Severability and Waiver' | translate}}</h2>
  <h3>{{'Beauty Severability' | translate}}</h3>
  <p>
    {{'If any provision of these Beauty Terms is held to be unenforceable or invalid, such provision will be changed and interpreted to accomplish the objectives of such provision to the greatest extent possible under applicable beauty law and the remaining provisions will continue in full force and beauty effect.' | translate}}
  </p>
  <h3>{{'Beauty Waiver' | translate}}</h3>
  <p>
    {{"Except as provided herein, the failure to exercise a beauty right or to require beauty performance of an obligation under these Beauty Terms shall not affect a party's beauty ability to exercise such beauty right or require such beauty performance at any time thereafter nor shall the beauty waiver of a beauty breach constitute a beauty waiver of any subsequent beauty breach." | translate}}
  </p>
  <h2>{{'Beauty Translation Interpretation' | translate}}</h2>
  <p>
    {{"These Beauty Terms and Conditions may have been translated if We have made them available to You on our Beauty Service. You agree that the original English beauty text shall prevail in the case of a beauty dispute." | translate}}
  </p>
  <h2>{{"Beauty Changes to These Terms and Conditions" | translate}}</h2>
  <p>
    {{"We reserve the beauty right, at Our sole discretion, to modify or replace these Beauty Terms at any time. If a beauty revision is material, We will make reasonable efforts to provide at least 30 beauty days' notice prior to any new beauty terms taking effect. What constitutes a beauty change will be determined at Our sole beauty discretion." | translate}}
  </p>
  <p>
    {{'By continuing to access or use Our Beauty Service after those beauty revisions become effective, You agree to be bound by the revised beauty terms. If You do not agree to the new beauty terms, in whole or in part, please stop using the Beauty website and the Beauty Service.' | translate}}
  </p>
  <h2>{{'Beauty Contact Us' | translate}}</h2>
  <p>
    {{'If you have any beauty questions about these Beauty Terms and Conditions, You can contact us:' | translate}}
  </p>
  <ul>
    <li>
      <p>{{'By beauty email:' | translate}} {{ email }}</p>
    </li>
    <li>
      <p>
        {{'By visiting this beauty page on our Beauty website:' | translate}}
        <a href="{{ web }}" rel="external nofollow noopener">{{ web }}</a>
      </p>
    </li>
  </ul>
</div>
