<div class="container">
    <div class="h2 text-center">Add New Product</div>
    <div
      class="alert alert-success mt-3 text-center"
      role="alert"
      *ngIf="formSubmitted"
    >
      Data sent successfully!
    </div>
  
    <form
      class="row g-3 m-3"
      class="contactForm"
      [formGroup]="add"
      (ngSubmit)="onSubmit()"
      
    >
      <div class="col-12">
        <label for="ProductName" class="form-label">Product Name</label>
        <div
          class="text-danger"
          *ngIf="add.controls['name'].touched && add.controls['name'].invalid"
        >
          <div *ngIf="add.controls['name'].hasError('required')">
            Product Name is required
          </div>
        </div>
        <input
          formControlName="name"
          type="text"
          class="form-control"
          id="ProductName"
          placeholder="Product Name"
        />
      </div>


  
      <div class="col-12">
        <label for="ProductDescription" class="form-label"
          >Product Description</label
        >
        <div
          class="text-danger"
          *ngIf="
            add.controls['description'].touched &&
            add.controls['description'].invalid
          "
        >
          <div *ngIf="add.controls['description'].hasError('required')">
            Product description is required
          </div>
        </div>
        <textarea
          formControlName="description"
          type="text"
          class="form-control"
          id="ProductDescription"
        ></textarea>
      </div>
  
   <div class="col-12">
        <label for="price" class="form-label"
          >price </label
        >
        <div
          class="text-danger"
          *ngIf="
            add.controls['price'].touched &&
            add.controls['price'].invalid
          "
        >
          <div *ngIf="add.controls['price'].hasError('required')">
            Product price is required
          </div>
        </div>
        <input
          formControlName="price"
          type="text"
          class="form-control"
          id="price"
          placeholder="price L.E"
        />
      </div>
  


      <div class="col mb-3">
        <label for="category" class="form-label"
          >category</label
        >
        <div
          class="text-danger"
          *ngIf="add.controls['category'].touched && add.controls['category'].invalid"
        >
          <div *ngIf="add.controls['category'].hasError('required')">
            Product category is required
          </div>
        </div>
        <select
          class="form-control"
          id="category"
          formControlName="category"
        >
          <option selected value="" disabled>
            all
          </option>

          <option value="{{ category.id }}" *ngFor="let category of categories">
            {{ category.name }}

          </option>  

          </select>    
        
      </div>


      <div class="col-12">
        <label for="image" class="form-label">Product Image <small class="text-danger">"please choose more one image"</small></label>
        <div
          class="text-danger"
          *ngIf="add.controls['image'].touched && add.controls['image'].invalid"
        >
          <div *ngIf="add.controls['image'].hasError('required')">
            Product image is required
          </div>
        </div>
        <input
        (change)="saveImageToDataBase($event)"
          formControlName="image"
          type="file"
          class="form-control"
          id="ProductImage"
          multiple
        />
      </div>
      <div class="col-12">
        <input
          [disabled]="add.invalid"
          type="submit"
          value="Add"
          class="btn btn-primary"
        />
      </div>
    </form>
  </div>
  