<nav class="navbar navbar-expand-lg bg-body-tertiary shadow mb-5">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="../../assets/images/logo.png" alt="" width="80px" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li>
          <a class="nav-link" routerLink="users" routerLinkActive="active"
            >All Users</a
          >
        </li>
        <li>
          <a class="nav-link" routerLink="products" routerLinkActive="active"
            >All Products</a
          >
        </li>
        <li>
          <a class="nav-link" routerLink="contact" routerLinkActive="active"
            >Contact Us</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            routerLink="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="#">Action</a></li>
            <li><a class="dropdown-item" routerLink="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" routerLink="#">Something else here</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active"
            >Log In</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register" routerLinkActive="active"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">Log Out</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
