<!-- Top bar -->

<div class="container-fluid bg-dark">
  <div class="row g-0">
    <div class="col-2 col-md-6 col-lg-8 ps-5 text-start">
      <div class="h-100 d-inline-flex align-items-center text-white fs-5">
        <i class="fa-regular fa-envelope fa-sm d-none d-lg-block"></i>
        <a
          class="btn btn-link text-white fs-5 text-decoration-none d-none d-lg-block"
          href="mailto:info@rimansan.net"
        >
          {{ email }}
        </a>
        <i class="fa-regular fa-envelope fa-sm d-none d-lg-block"></i>

        <a
          class="btn btn-link text-white fs-5 text-decoration-none d-none d-lg-block"
          href="mailto:support@rimansan.com"
        >
          {{ email2 }}
        </a>
        <div class="d-none d-lg-block">
          <a href="https://www.facebook.com/rimansan.net" target="_blank">
            <i class="p-1 me-2 fab fa-facebook-f fa-xs"></i
          ></a>
          <a href="https://www.linkedin.com/company/riman-san/" target="_blank">
            <i class="p-1 me-2 fab fa-linkedin-in fa-xs"></i
          ></a>
          <a href="https://www.tiktok.com/@rimansan.net" target="_blank">
            <i class="p-1 me-2 fab fa-tiktok fa-xs"></i
          ></a>
          <a href="https://www.youtube.com/@-rimansan" target="_blank">
            <i class="p-1 me-2 fab fa-youtube fa-xs"></i
          ></a>
          <a href="" target="_blank">
            <i class="p-1 me-2 fab fa-instagram fa-xs"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-10 col-md-6 col-lg-4 text-end" [dir]="'dir' | translate">
      <div
        class="h-100 topbar-right d-inline-flex align-items-center text-white px-2"
      >
        <span class="fw-bold me-2"
          ><i class="fas fa-phone me-2 fs-6"></i
          >{{ "Call Us:" | translate }}</span
        >
        <a
          class="fs-6 fw-bold text-white text-decoration-none"
          href="tel:+01068743043"
          >{{ "010 687 43 0 43" | translate }}</a
        >
      </div>
    </div>
  </div>
</div>
<!-- Main header -->

<nav
  class="navbar navbar-expand-lg bg-body-tertiary shadow sticky-top mb-1"
  [dir]="'dir' | translate"
>
  <!-- <div class="container"> -->
    <div class="container d-flex justify-content-between align-items-center">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/logo.png" alt="" width="80px" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      
    >
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-lg-0 ">
      <!-- <ul class="navbar-nav mb-lg-0"> -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ "Home" | translate }}</a
          >
        </li>
        <li>
          <a class="nav-link" routerLink="products" routerLinkActive="active">{{
            "All Products" | translate
          }}</a>
        </li>

        <li>
          <a class="nav-link" routerLink="contact" routerLinkActive="active">{{
            "Contact Us" | translate
          }}</a>
        </li>

        <li>
          <a class="nav-link" routerLink="cart" routerLinkActive="active"
            >
            <i class="fa-solid fa-cart-plus fa-lg"></i>
            <span class="text-danger fw-bold h5" *ngIf="total > 0">{{
              total
            }}</span>
          </a>
        </li>
        <li>
          <app-language-switcher></app-language-switcher>
        </li>
      </ul>

        
      <!-- <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
      <ul class="navbar-nav">
                <li class="nav-item">
          <a
            *ngIf="!isLoggedIn()"
            class="nav-link"
            routerLink="login"
            routerLinkActive="active"
          >
            {{ "Log In" | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            *ngIf="!isLoggedIn()"
            routerLink="register"
            routerLinkActive="active"
          >
            {{ "sign up" | translate }}
          </a>
        </li>

        <li class="nav-item dropdown" *ngIf="isLoggedIn()">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-id-card fa-2xl"></i>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            [ngClass]="{ show: isTopDropdownOpen }"
            aria-labelledby="topDropdown"
          >
            <li>
              <a
                class="dropdown-item"
                routerLink="profile"
                *ngIf="isLoggedIn()"
                >{{ "Profile" | translate }}</a
              >
            </li>

            <li class="dropdown" (click)="toggleNestedDropdown($event)">
              
              <a
                class="dropdown-item dropdown-toggle"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                *ngIf="isAdmin()"
              >
                {{ "Admin Panel" | translate }}
              </a>
              <ul
                class="dropdown-menu dropdown-menu-end"
                [ngClass]="{ show: isNestedDropdownOpen }"
              >
                <li>
                  <a
                    class="dropdown-item"
                    *ngIf="isAdmin()"
                    routerLink="users"
                    >{{ "All Users" | translate }}</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" *ngIf="isAdmin()" routerLink="add">{{
                    "Add Products" | translate
                  }}</a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    *ngIf="isAdmin()"
                    routerLink="adminorders"
                    >{{ "All Orders" | translate }}</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    *ngIf="isAdmin()"
                    routerLink="admincontact"
                    >{{ "All Contacts" | translate }}</a
                  >
                </li>
              </ul>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item"
                *ngIf="isLoggedIn()"
                routerLink=""
                (click)="logout()"
              >
                <i class="fa-solid fa-right-from-bracket"></i>
                {{ "Log Out" | translate }}
              </a>
            </li>
          </ul>
        </li>
    </ul>

    </div>
  </div>
</nav>
