<div
  class="d-flex flex-column align-items-center justify-content-center min-vh-50"
>
  <div class="notfound text-center p-4">
    <div class="notfound-404 mx-auto"></div>
    <h1 class="err">404</h1>
    <h2 class="fs-3">
      <span class="text-danger">Opps! </span> Page Not Be Found.
    </h2>

    <p class="text-danger">
      Sorry but the page you are looking for does not exist, has been removed,
      name changed, or is temporarily unavailable.
    </p>
    <a routerLink="/" class="btn btn-primary">Back to Homepage</a>
  </div>
</div>
