<div class="container-xxl py-5" [dir]="'dir' | translate">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6">
        <p class="fw-medium text-uppercase text-primary mb-2">
          {{'Why Choosing Us!!' |translate}}
        </p>
        <h3 class="mb-4">{{'Few Reasons Why People Choosing Us!' |translate}}</h3>
        <div class="row gy-4">
          <div class="col-12">
            <div class="d-flex align-items-start">
              <i
                class="fa fa-check text-white rounded-circle bg-primary p-3 fs-4"
              ></i>

              <div class="ms-4">
                <h4>{{'Timeless Beauty Unveiled' |translate}}</h4>
                <span>
                  {{'Uncover the allure of ageless beauty with our products, exploring the richness of ingredients inspired by ancient secrets.' |translate}}
                </span>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex align-items-start">
              <i
                class="fa fa-check text-white rounded-circle bg-primary p-3 fs-4"
              ></i>
              <div class="ms-4">
                <h4>{{'Diverse Elegance' |translate}}</h4>
                <span>
                  {{'From the freshness of botanical extracts to the richness of nourishing oils, indulge in a variety of textures and scents inspired by nature.' |translate}}
                </span>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex align-items-start">
              <i
                class="fa fa-check text-white rounded-circle bg-primary p-3 fs-4"
              ></i>
              <div class="ms-4">
                <h4>{{'Affordable Glamour' |translate}}</h4>
                <span>
                  {{'Reveal your beauty without straining your budget. Our cost-effective beauty options and personalized packages make luxury accessible to all.' |translate}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 video-container">
        <!-- <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/ZLUne4rt56c?autoplay=1"
          title="YouTube video player"
        >
        </iframe> -->
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/SfyQJXpNRuE?si=xHWUVpWTPR5Ynmo0&amp;controls=0&amp;start=13&amp;autoplay=1"
          title="YouTube video player"
        ></iframe>
      </div>
    </div>
  </div>
</div>
