<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6">
        <p class="fw-medium text-uppercase text-primary mb-2">
          Why Choosing Us!!
        </p>
        <h3 class="mb-4">Few Reasons Why People Choosing Us!</h3>
        <div class="row gy-4">
          <div class="col-12">
            <div class="d-flex align-items-start">
              <i
                class="fa fa-check text-white rounded-circle bg-primary p-3 fs-4"
              ></i>

              <div class="ms-4">
                <h4>Ancient Wonders</h4>
                <span>
                  Explore millennia-old pyramids, temples, and artifacts,
                  uncovering Egypt's captivating history.
                </span>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex align-items-start">
              <i
                class="fa fa-check text-white rounded-circle bg-primary p-3 fs-4"
              ></i>
              <div class="ms-4">
                <h4>Diverse Landscapes</h4>
                <span>
                  From the Nile River to the Red Sea, enjoy a variety of
                  breathtaking landscapes, including deserts and coastlines.
                </span>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex align-items-start">
              <i
                class="fa fa-check text-white rounded-circle bg-primary p-3 fs-4"
              ></i>
              <div class="ms-4">
                <h4>Affordable Adventures</h4>
                <span>
                  Discover Egypt's marvels without breaking the bank, with our
                  budget-friendly travel options and tailored packages.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <!-- <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/ZLUne4rt56c?autoplay=1"
          title="YouTube video player"
        >
        </iframe> -->
        <iframe
          width="420"
          height="315"
          src="https://www.youtube.com/embed/SfyQJXpNRuE?si=xHWUVpWTPR5Ynmo0&amp;controls=0&amp;start=13&amp;autoplay=1"
          title="YouTube video player"
        ></iframe>
      </div>
    </div>
  </div>
</div>
