<div class="container" *ngIf="loading">
  <app-loading></app-loading>
</div>

<div class="container mt-5 mb-5">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-6 border-end">
        <div class="d-flex flex-column justify-content-center">
          <div class="main_image">
            <img [src]="mainProductImage" width="350" />
          </div>
          <div class="thumbnail_images">
            <ul id="thumbnail">
              <li *ngFor="let image of thumbnailImages">
                <img
                  (click)="changeImage(image)"
                  [src]="x + id + '/' + image"
                  width="70"
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-3 right-side">
          <div class="d-flex justify-content-between align-items-center">
            <h3>{{ productDetails?.name }}</h3>
          </div>
          <div class="mt-2 pr-3 content">
            <p>
              {{ productDetails?.description }}
            </p>
          </div>
          <h3>{{ productDetails?.price | price }}</h3>
          <div class="ratings d-flex flex-row align-items-center">
            <!-- <div>
              <ngb-rating
                [rate]="rating"
                [readonly]="true"
                class="text-warning fs-3"
              ></ngb-rating>
            </div> -->
          </div>
          <div
            class="list-group-item fw-bold"
            [ngClass]="{
              'text-success': productDetails?.stock,
              'text-danger': !productDetails?.stock
            }"
          >
            {{ productDetails?.stock | stock }}
          </div>

          <div class="buttons d-flex flex-row mt-2 gap-3">
            <button
              class="btn btn-outline-dark"
              [class.disabled]="!productDetails?.stock"
              (click)="addProdutToCart(productDetails)"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
