<div class="container" *ngIf="loading">
  <app-loading></app-loading>
</div>
<div *ngIf="!loading" class="container mb-5">
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">fullName</th>
        <th scope="col">email</th>
        <th scope="col">subject</th>
        <th scope="col">message</th>
        <th scope="col">action</th>

      </tr>
    </thead> 
    <tbody>
      <ng-container *ngFor="let user of Contacts; let i = index">
        <tr class="align-middle">
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.fullName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.subject }}</td>
          <td>{{ user.message }}</td>

          <td class="align-middle">
            <!-- <a [routerLink]="['/user', user.id]" class="btn btn-primary m-1"
              >Show</a
            > -->
            <button class="btn btn-warning m-1" (click)="editContact(user)">
              {{ selectedContactIndex === i ? "Cancel" : "Update" }}
            </button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Delete


                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer"
                        >
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          <button type="button" class="btn btn-danger"
                          (click)="deleteContact(user.id)"
                          >Delete</button>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- Modal -->
              </button>







          </td>
        </tr>
        <tr *ngIf="selectedContactIndex === i">
          <td colspan="5">
            <h2>Edit Contact</h2>
            <table class="table table-striped text-center">
              <tr>
                <th>fullName</th>
                <td>
                  <input class="form-control w-50" [(ngModel)]="user.fullName" />
                </td>
              </tr>
              <tr>
                <th>email</th>
                <td>
                  <input class="form-control w-50" [(ngModel)]="user.email" />
                </td>
              </tr>
              <tr>
                <th>subject</th>
                <td>
                  <input class="form-control w-50" [(ngModel)]="user.subject" />
                </td>
              </tr>
              <tr>
                <tr>
                  <th>message</th>
                  <td>
                    <textarea class="form-control w-50" [(ngModel)]="user.message"></textarea>                  </td>
                </tr>
                <tr>
                <td colspan="2">
                  <button
                    class="btn btn-success m-1"
                    (click)="updateContact(user.id)"
                  >
                    Save
                  </button>
                  <button class="btn btn-danger" (click)="cancelEdit()">
                    Cancel
                  </button>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
