<div class="container" *ngIf="loading">
  <app-loading></app-loading>
</div>
<div *ngIf="!loading" class="container mb-5" [dir]="'dir' | translate">
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th scope="col">{{ "Index" | translate }}</th>
        <th scope="col">{{ "Date" | translate }}</th>
        <th scope="col">{{ "fullName" | translate }}</th>
        <th scope="col">{{ "email" | translate }}</th>
        <th scope="col">{{ "subject" | translate }}</th>
        <th scope="col">{{ "message" | translate }}</th>
        <th scope="col">{{ "Action" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let contact of Contacts; let i = index">
        <tr class="align-middle">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ contact.created_at | date }}</td>
          <td>{{ contact.fullName }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.subject }}</td>
          <td>{{ contact.message }}</td>

          <td class="align-middle">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              {{ "Delete" | translate }}

              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        {{ "Cancel" | translate }}
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="deleteContact(contact.id)"
                      >
                        {{ "Delete" | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal -->
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
