<div class="container mb-5">
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th scope="col">Index</th>

        <th scope="col">ID</th>
        <th scope="col">date</th>
        <th scope="col">order id </th>
        <th scope="col">order name</th>
        <th scope="col">phone</th>
        <th scope="col">city</th>
        <th scope="col">notes</th>
        <th scope="col"></th>
        <th scope="col">product id</th>
        <th scope="col">product name</th>
        <th scope="col">price</th>
        <th scope="col">quantity</th>
        <th scope="col">total</th>
      </tr>
    </thead>
    <tbody>
      <ng-container
       *ngFor="let orderDetails of orderDetails;
        let i = index;

        ">
        <tr class="align-middle">
          <th scope="row">{{ i+1}}</th>

          <td>{{ orderDetails.id }}</td>
          <td>{{ orderDetails.created_at }}</td>

          <td>{{ orderDetails.order_id }}</td>
          <td>{{ getOrderName(orderDetails.order_id) }}</td>
          <td>{{ getOrderPhone(orderDetails.order_id) }}</td>
          <td>{{ getOrderCity(orderDetails.order_id) }}</td>
          <td>{{ getOrderNote(orderDetails.order_id) }}</td>
          <td>------</td>

          <td>{{ orderDetails.product_id }}</td>
          <td>{{ getProductName(orderDetails.product_id) }}</td>
          <td>{{ getProductPrice(orderDetails.product_id) }}</td>
          <td>{{ orderDetails.quantity }}</td>
          <td>{{ orderDetails.quantity}} * {{getProductPrice(orderDetails.product_id) }}</td>

          <!-- <td>{{ getOrderName(order.order_id) }}</td> -->
          <!-- <td>{{ order.product_id }}</td> -->

          <!-- <td>{{ getProductName(order.product_id) }}</td> -->

          <td class="align-middle">

            <!-- <a [routerLink]="['/user', user.id]" class="btn btn-primary m-1"
              >Show</a
            > -->
            <!-- <button class="btn btn-warning m-1" (click)="editUser(user)">
              {{ selectedUserIndex === i ? "Cancel" : "Update" }}
            </button> -->
            <!-- <button (click)="deleteUser(user.id)" class="btn btn-danger m-1">
              Delete
            </button> -->
          <!-- </td>
        </tr>
        <tr *ngIf="selectedUserIndex === i">
          <td colspan="5">
            <h2>Edit User</h2>
            <table class="table table-striped text-center">
              <tr>
                <th>Name</th>
                <td>
                  <input class="form-control w-50" [(ngModel)]="orderDetails.name" />
                </td>
              </tr>
              <tr>
                <th>Mobile</th>
                <td>
                  <input class="form-control w-50" [(ngModel)]="orderDetails.mobile" />
                </td>
              </tr>
              <tr>
                <th>Role</th>
                <td>
                  <input class="form-control w-50" [(ngModel)]="orderDetails.role" />
                </td>
              </tr>
              <tr>
                <td colspan="2"> -->
                  <!-- <button
                    class="btn btn-success m-1"
                    (click)="updateUser(user)"
                  >
                    Save
                  </button> -->
                  <!-- <button class="btn btn-danger" (click)="cancelEdit()">
                    Cancel
                  </button>
                </td>
              </tr>
            </table>
          </td>
        </tr> -->
      </ng-container>
    </tbody>
  </table>
</div>


<!-- Your existing HTML code -->
<tbody>
  <ng-container *ngFor="let orderDetail of orderDetails; let i = index;">
    <tr class="align-middle">
      <!-- ... Other columns ... -->
      <td>{{ getProductName(orderDetail.product_id) }}</td>
      <td>{{ getProductPrice(orderDetail.product_id) }}</td>
      <td>{{ orderDetail.quantity }}</td>
      <!-- <td>{{ orderDetail.quantity * getProductPrice(orderDetail.product_id) }}</td> -->
    </tr>
  </ng-container>
</tbody>
