<div class="container-xxl py-5" [dir]="'dir' | translate">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6">
        <img
          class="img-fluid rounded-3 shadow mt-5"
          src="/assets/images/about/1.jpeg"
        />
        <div class="text-center mt-4">
          {{
            "Riman-San stands as a pioneering influence in the beauty industry, establishing the benchmark for memorable beauty experiences. With an unwavering dedication to excellence and creativity, we welcome you to journey through the realm of beauty with our meticulously crafted products."
              | translate
          }}
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <p class="fw-medium text-uppercase text-primary mb-2">
          {{ "About Us" | translate }}
        </p>
        <h2 class="mb-4">{{ "Leading the way in cosmetics." | translate }}</h2>
        <p class="mb-4">
          {{
            "Riman-San stands as a pioneering influence in the beauty industry, establishing the benchmark for memorable beauty experiences. With an unwavering dedication to excellence and creativity, we welcome you to journey through the realm of beauty with our meticulously crafted products."
              | translate
          }}
        </p>
        <div class="row align-items-center">
          <div class="col-md-6 p-4 text-center">
            <img src="assets/images/logo.png" alt="" width="250px" />
          </div>
          <div class="col-md-6">
            <p>
              <i class="fa fa-check text-primary me-2"></i>
              {{ "Igniting Extraordinary Beauty" | translate }}
            </p>
            <p>
              <i class="fa fa-check text-primary me-2"></i>
              {{ "Passion, Quality, Integrity" | translate }}
            </p>
            <p>
              <i class="fa fa-check text-primary me-2"></i>
              {{ "Beauty Exploration" | translate }}
            </p>
            <p>
              <i class="fa fa-check text-primary me-2"></i>
              {{ "Transformative Beauty Experiences" | translate }}
            </p>
            <p class="mb-0">
              <i class="fa fa-check text-primary me-2"></i>
              {{ "Your Beauty, Our Commitment" | translate }}
            </p>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-sm-6">
            <div class="d-flex align-items-center">
              <div
                class="flex-shrink-0 btn-lg-square rounded-circle px-2 py-1 bg-primary"
              >
                <i class="fa fa-envelope-open text-white"></i>
              </div>
              <div class="ms-3">
                <p class="mb-2">{{ "Email us" | translate }}</p>
                <h5 class="mb-3">{{ myEmail }}</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="d-flex align-items-center">
              <div
                class="flex-shrink-0 btn-lg-square px-2 py-1 rounded-circle bg-primary"
              >
                <i class="fa fa-phone-alt text-white"></i>
              </div>
              <div class="ms-3">
                <p class="mb-2">{{ "Call Us" | translate }}</p>
                <h5 class="mb-3">{{ "010 687 43 0 43" | translate }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
