.back-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
  }
  .back-to-top:hover {
    scale: 1.2;
  }

