<div class="container mt-5"  [dir]="'dir' | translate">
  <h1>{{'Beauty Privacy Policy' | translate}}</h1>
  <p>{{'Last updated' | translate}}: {{'September 28, 2023' | translate}}</p>
  <p>
    {{'This Beauty Privacy Policy describes Our policies and procedures on the collection, use, and disclosure of Your information when You use the Beauty Service and tells You about Your privacy rights and how the law protects You.' | translate}}
  </p>
  <p>
    {{'We use Your Personal data to provide and improve the Beauty Service. By using the Beauty Service, You agree to the collection and use of information in accordance with this Beauty Privacy Policy.' | translate}}
  </p>
  <h2>{{'Interpretation and Definitions' | translate}}</h2>
  <h3>{{'Interpretation' | translate}}</h3>
  <p>
    {{'The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.' | translate}}
  </p>

  <h3>{{'Definitions' | translate}}</h3>
  <p>{{'For the purposes of this Privacy Policy:' | translate}}</p>
  <ul>
    <li>
      <p>
        <strong>{{'Beauty Account' | translate}}</strong>
         {{'means a unique account created for You to access our Beauty Service or parts of our Beauty Service.' | translate}}
      </p>
    </li>
    <li>
      <p>
        <strong>{{'Beauty Affiliate' | translate}}</strong>
        {{"means an entity that controls, is controlled by, or is under common control with a party, where 'control' means ownership of 50% or more of the shares, equity interest, or other securities entitled to vote for the election of directors or other managing authority." | translate}}
      </p>
    </li>
    <li>
      <p>
        <strong>{{'Beauty Company' | translate}}</strong> 
        {{"(referred to as either 'the Beauty Company', 'We', 'Us' or 'Our' in this Agreement) refers to Egypt." | translate}}
      </p>
    </li>
    <li>
      <p>
        <strong>{{'Beauty Cookies' | translate}}</strong> 
        {{'are small files that are placed on Your computer, mobile device, or any other device by a website, containing the details of Your browsing history on that website among its many uses.' | translate}}
      </p>
    </li>
    <li>
      <p><strong>{{'Beauty Country' | translate}}</strong> {{'refers to: Egypt' | translate}}</p>
    </li>
    <li>
      <p>
        <strong>{{'Beauty Device' | translate}}</strong> 
        {{'means any device that can access the Beauty Service such as a computer, a cellphone, or a digital tablet.' | translate}}
      </p>
    </li>
    <li>
      <p>
        <strong>{{"Beauty Personal Data" | translate}}</strong> 
        {{'is any information that relates to an identified or identifiable individual.' | translate}}
      </p>
    </li>


      <li>
        <p>
          <strong>{{'Beauty Service' | translate}}</strong> {{'refers to the Beauty Website.' | translate}}
        </p>
      </li>
      <li>
        <p>
          <strong>{{'Beauty Service Provider' | translate}}</strong> 
          {{"means any natural or legal person who processes the data on behalf of the Beauty Company. It refers to third-party companies or individuals employed by the Beauty Company to facilitate the Beauty Service, to provide the Beauty Service on behalf of the Beauty Company, to perform services related to the Beauty Service or to assist the Beauty Company in analyzing how the Beauty Service is used." | translate}}
        </p>
      </li>
      <li>
        <p>
          <strong>{{'Beauty Usage Data' | translate}}</strong> 
          {{'refers to data collected automatically, either generated by the use of the Beauty Service or from the Beauty Service infrastructure itself (for example, the duration of a page visit).' | translate}}
        </p>
      </li>
      <li>
        <p>
          <strong>{{'Beauty Website' | translate}}</strong> 
          {{'refers to the website accessible from' | translate}}
          <a href="{{web}}" rel="external nofollow noopener">{{web}}</a>.
        </p>
      </li>
      <li>
        <p>
          <strong>{{'Beauty User' | translate}}</strong> 
          {{'means the individual accessing or using the Beauty Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Beauty Service, as applicable.' | translate}}
        </p>
      </li>
    </ul>
    <h2>{{'Collecting and Using Your Personal Data' | translate}}</h2>
    <h3>{{'Types of Data Collected' | translate}}</h3>
    <h4>{{'Personal Data' | translate}}</h4>
    <p>
      {{'While using Our Beauty Service, We may ask You to provide Us with certain personally identifiable information that can be used to contact or identify You. Personally identifiable information may include, but is not limited to:' | translate}}
    </p>
    <ul>
      <li>
        <p><strong>{{'Email address' | translate}}</strong></p>
      </li>
      <li>
        <p><strong>{{'First name and last name' | translate}}</strong></p>
      </li>

      <li>
        <p>
          <strong>{{'Beauty Phone Number' | translate}}</strong>
        </p>
      </li>
      <li>
        <p>
          <strong>{{'Beauty Usage Data' | translate}}</strong>
        </p>
      </li>
    </ul>
    <h4>{{'Beauty Usage Data' | translate}}</h4>
    <p>{{'Usage Data is collected automatically when using the Beauty Service.' | translate}}</p>
    <p>
      {{"Beauty Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Beauty Service that You visit, the time and date of Your visit, the time spent on those pages, unique device identifiers, and other diagnostic data." | translate}}
    </p>


    <p>
      {{"When You access the Beauty Service by or through a mobile device, We may collect certain information automatically, including, but not limited to, the type of mobile device You use, Your mobile device unique ID, the IP address of Your mobile device, Your mobile operating system, the type of mobile Internet browser You use, unique device identifiers, and other diagnostic data." | translate}}
    </p>
    <p>
      {{"We may also collect information that Your browser sends whenever You visit our Beauty Service or when You access the Beauty Service by or through a mobile device." | translate}}
    </p>
    <h4>{{'Tracking Technologies and Beauty Cookies' | translate}}</h4>
    <p>
      {{"We use Beauty Cookies and similar tracking technologies to track the activity on Our Beauty Service and store certain information. Tracking technologies used are beauty beacons, tags, and scripts to collect and track information and to improve and analyze Our Beauty Service. The technologies We use may include:" | translate}}
    </p>

    <ul>
      <li>
        <strong>{{"Beauty Cookies or Browser Cookies." | translate}}</strong> 
        {{'A cookie is a small file placed on Your Beauty Device. You can instruct Your browser to refuse all Beauty Cookies or to indicate when a Beauty Cookie is being sent. However, if You do not accept Beauty Cookies, You may not be able to use some parts of our Beauty Service. Unless you have adjusted Your browser setting so that it will refuse Beauty Cookies, our Beauty Service may use Beauty Cookies.' | translate}}
      </li>
      <li>
        <strong>{{'Beauty Beacons.' | translate}}</strong> 
        {{"Certain sections of our Beauty Service and our beauty emails may contain small electronic files known as beauty beacons (also referred to as clear gifs, pixel tags, and single-pixel gifs) that permit the Company, for example, to count users who have visited those beauty pages or opened a beauty email and for other related beauty website statistics (for example, recording the popularity of a certain beauty section and verifying system and server beauty integrity)." | translate}}
      </li>
    </ul>
    <p>
      {{'Beauty Cookies can be' |translate}} &quot;{{'Persistent' | translate}}&quot; {{'or' | translate}} &quot;{{'Session' | translate}}&quot; {{"Beauty Cookies." | translate}}
      {{'Persistent Beauty Cookies remain on Your personal beauty computer or mobile device when You go beauty offline, while Session Beauty Cookies are deleted as soon as You close Your beauty web browser.' | translate}}
    </p>
    <p>
      {{'We use both Session and Persistent Beauty Cookies for the purposes set out below:' | translate}}
    </p>
    <ul>
      <li>
        <p><strong>{{'Necessary / Essential Beauty Cookies' | translate}}</strong></p>
        <p>{{"Type: Session Beauty Cookies" | translate}}</p>
        <p>{{'Administered by: Us' | translate}}</p>
        <p>
          {{"Purpose: These Beauty Cookies are essential to provide You with beauty services available through the Beauty Website and to enable You to use some of its features. They help to authenticate users and prevent fraudulent use of beauty user accounts. Without these Beauty Cookies, the services that You have asked for cannot be provided, and We only use these Beauty Cookies to provide You with those beauty services." | translate}}
        </p>
      </li>
      <li>
        <p><strong>{{'Beauty Cookies Policy / Notice Acceptance Beauty Cookies' | translate}}</strong></p>
        <p>{{'Type: Persistent Beauty Cookies' | translate}}</p>
        <p>{{'Administered by: Us' | translate}}</p>
        <p>
          {{'Purpose: These Beauty Cookies identify if users have accepted the use of Beauty Cookies on the Beauty Website.' | translate}}
        </p>
      </li>
      <li>
        <p><strong>{{'Beauty Functionality Beauty Cookies' | translate}}</strong></p>
        <p>{{'Type: Persistent Beauty Cookies' | translate}}</p>
        <p>{{'Administered by: Us' |translate}}</p>
        <p>
          {{'Purpose: These Beauty Cookies allow us to remember choices You make when You use the Beauty Website, such as remembering your login details or beauty language preference. The purpose of these Beauty Cookies is to provide You with a more personal beauty experience and to avoid You having to re-enter your preferences every time You use the Beauty Website.' | translate}}
        </p>
      </li>
    </ul>
    <p>
      {{'For more information about the beauty cookies we use and your choices regarding beauty cookies, please visit our Beauty Cookies Policy or the Beauty Cookies section of our Beauty Privacy Policy.' | translate}}
    </p>


    <h3>{{'Use of Your Personal Data' | translate}}</h3>
    <p>{{'The Company may use Personal Data for the following beauty and cosmetic purposes:' | translate}}</p>
    <ul>
      <li>
        <p>
          <strong>{{'To provide and enhance our Beauty Services' | translate}}</strong>, {{'including monitoring the usage of our beauty-related offerings.' | translate}}
        </p>
      </li>
      <li>
        <p>
          <strong>{{'To manage Your Beauty Account:' | translate}}</strong> {{'to oversee Your registration as a user of our Beauty Services. The Personal Data You provide can grant You access to various beauty-enhancing functionalities available to You as a registered user.' | translate}}
        </p>
      </li>
      <li>
        <p>
          <strong>{{'For the performance of beauty contracts:' | translate}}</strong> {{'the development, compliance, and fulfillment of beauty-related purchase contracts for the beauty products, items, or services You have purchased or any other beauty contract with Us through the Beauty Services.' | translate}}
        </p>
      </li>
      <li>
        <p>
          <strong>{{'To beautify Your communication:' | translate}}</strong> {{'To contact You through beauty-centric channels like email, telephone calls, SMS, or other equivalent forms of electronic communication. This includes beauty-related updates or informative communications related to the functionalities, beauty products, or contracted beauty services, especially those relevant for their implementation.' | translate}}
        </p>
      </li>
      <li>
        <p>
          <strong>{{'To provide You' | translate}}</strong> {{'with beauty news, special offers, and general information about other beauty products, services, and events similar to those that you have already purchased or inquired about unless You have opted not to receive such beautiful information.' | translate}}
        </p>
      </li>
      <li>
        <p>
          <strong>{{'To beautify Your requests:' | translate}}</strong> {{'To attend and manage Your beauty-related requests to Us.' | translate}}
        </p>
      </li>
      <li>
        <p>
          <strong>{{'For beauty business transfers:' | translate}}</strong> {{'We may use Your information to evaluate or conduct a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of Our assets, whether as a going concern or as part of bankruptcy, liquidation, or a similar beauty proceeding, in which Personal Data held by Us about our Beauty Services users is among the assets transferred.' | translate}}
        </p>
      </li>
      <li>
        <p>
          <strong>{{'For other beauty purposes' | translate}}</strong>: {{'We may use Your information for other beauty-related purposes, such as data analysis, identifying beauty usage trends, determining the effectiveness of our beauty promotional campaigns, and to evaluate and improve our Beauty Services, beauty products, services, marketing, and your beautiful experience.' | translate}}
        </p>
      </li>
    </ul>
    <p>{{'We may share Your beauty information in the following beauty situations:' | translate}}</p>
    <ul>
      <li>
        <strong>{{'With Beauty Service Providers:' | translate}}</strong> {{'We may share Your personal beauty information with Beauty Service Providers to monitor and analyze the use of our Beauty Services, to beautify Your experience.' | translate}}
      </li>
      <li>
        <strong>{{'For beauty business transfers:' |translate}}</strong> {{'We may share or transfer Your personal beauty information in connection with, or during negotiations of, any merger, sale of Beauty Company assets, financing, or acquisition of all or a portion of Our beauty business to another company.' | translate}}
      </li>
      <li>
        <strong>{{"With Beauty Affiliates:"| translate}}</strong> {{'We may share Your beauty information with Our beauty affiliates, in which case we will require those affiliates to honor this Beauty Privacy Policy. Affiliates include Our parent beauty company and any other beauty subsidiaries, joint venture partners, or other beauty-related companies that We control or that are under common beauty control with Us.' | translate}}
      </li>
      <li>
        <strong>{{'With beauty business partners:' | translate}}</strong> {{'We may share Your beauty information with Our business partners to offer You certain beauty products, services, or promotions.' | translate}}
      </li>
      <li>
        <strong>{{'With other beauty users:' | translate}}</strong> {{'when You share beauty information or otherwise interact in the beauty public areas with other users, such beauty information may be viewed by all users and may be publicly distributed outside.' | translate}}
      </li>
      <li>
        <strong>{{'With Your beauty consent' | translate}}</strong>: {{'We may disclose Your beauty information for any other beauty purpose with Your consent.' | translate}}
      </li>
    </ul>

    <h3>{{'Beauty Retention of Your Personal Data' | translate}}</h3>
    <p>
      {{'The Beauty Company will retain Your Personal Data only for as long as is necessary for the beautiful purposes set out in this Beauty Privacy Policy. We will retain and use Your Personal Beauty Data to the extent necessary to comply with our legal beauty obligations (for example, if we are required to retain your beauty data to comply with applicable beauty laws), resolve beauty disputes, and enforce our legal beauty agreements and policies.' | translate}}
    </p>
    <p>
      {{'The Beauty Company will also retain Beauty Usage Data for internal analysis purposes. Beauty Usage Data is generally retained for a shorter period of beauty time, except when this beauty data is used to strengthen the beauty security or to improve the beauty functionality of Our Beauty Service, or We are legally obligated to retain this beauty data for longer beauty periods.' | translate}}
    </p>
    <h3>{{'Transfer of Your Beauty Personal Data' | translate}}</h3>
    <p>
      {{"Your beauty information, including Beauty Personal Data, is processed at the Beauty Company's operating beauty offices and in any other beauty places where the beauty parties involved in the beauty processing are located. It means that this beauty information may be transferred to — and maintained on — beauty computers located outside of Your beauty state, province, country or other governmental beauty jurisdiction where the beauty data protection laws may differ than those from Your beauty jurisdiction." | translate}}
    </p>
    <p>
      {{"Your beauty consent to this Beauty Privacy Policy followed by Your beauty submission of such beauty information represents Your beauty agreement to that beauty transfer." | translate}}
    </p>
    <p>
      {{"The Beauty Company will take all beauty steps reasonably necessary to ensure that Your beauty data is treated securely and in accordance with this Beauty Privacy Policy and no beauty transfer of Your Beauty Personal Data will take place to an beauty organization or a beauty country unless there are adequate beauty controls in place including the beauty security of Your beauty data and other personal beauty information." | translate}}
    </p>
    <h3>{{"Delete Your Beauty Personal Data" | translate}}</h3>
    <p>
      {{"You have the right to delete or request that We assist in deleting the Beauty Personal Data that We have collected about You." | translate}}
    </p>
    <p>
      {{"Our Beauty Service may give You the ability to delete certain beauty information about You from within the Beauty Service." | translate}}
    </p>
    <p>
      {{"You may update, amend, or delete Your beauty information at any time by signing in to Your Beauty Account, if you have one, and visiting the beauty account settings section that allows you to manage Your personal beauty information. You may also contact Us to request access to, correct, or delete any personal beauty information that You have provided to Us." | translate}}
    </p>
    <p>
      {{"Please note, however, that We may need to retain certain beauty information when we have a legal beauty obligation or lawful beauty basis to do so." | translate}}
    </p>
    <h3>{{"Disclosure of Your Beauty Personal Data" | translate}}</h3>
    <h4>{{"Beauty Business Transactions" | translate}}</h4>
    <p>
      {{"If the Beauty Company is involved in a beauty merger, acquisition, or beauty asset sale, Your Beauty Personal Data may be transferred. We will provide notice before Your Beauty Personal Data is transferred and becomes subject to a different Beauty Privacy Policy." | translate}}
    </p>


    <h4>{{"Beauty Law Enforcement" | translate}}</h4>
    <p>
      {{"Under certain beauty circumstances, the Beauty Company may be required to disclose Your Beauty Personal Data if required to do so by beauty law or in response to valid beauty requests by public beauty authorities (e.g. a beauty court or a beauty government agency)." | translate}}
    </p>
    <h4>{{"Other Beauty Legal Requirements" | translate}}</h4>
    <p>
      {{"The Beauty Company may disclose Your Beauty Personal Data in the beauty good faith belief that such beauty action is necessary to:" | translate}}
    </p>
    <ul>
      <li>{{"Comply with a beauty legal obligation" | translate}}</li>
      <li>{{"Protect and defend the beauty rights or beauty property of the Beauty Company" | translate}}</li>
      <li>
        {{"Prevent or investigate possible beauty wrongdoing in connection with the Beauty Service" | translate}}
      </li>
      <li>{{"Protect the beauty personal safety of Users of the Beauty Service or the beauty public" | translate}}</li>
      <li>{{"Protect against beauty legal liability" | translate}}</li>
    </ul>
    <h3>{{"Beauty Security of Your Personal Data" | translate}}</h3>
    <p>
      {{"The beauty security of Your Beauty Personal Data is important to Us, but remember that no beauty method of transmission over the Beauty Internet, or beauty method of electronic storage is 100% secure. While We strive to use beauty commercially acceptable means to protect Your Beauty Personal Data, We cannot guarantee its absolute beauty security." | translate}}
    </p>
    <h2>{{"Beauty Children's Privacy" | translate}}</h2>
    <p>
      {{"Our Beauty Service does not address anyone under the beauty age of 13. We do not knowingly collect beauty personally identifiable information from anyone under the beauty age of 13. If You are a beauty parent or guardian and You are aware that Your beauty child has provided Us with Beauty Personal Data, please contact Us. If We become aware that We have collected Beauty Personal Data from anyone under the beauty age of 13 without beauty verification of beauty parental consent, We take beauty steps to remove that beauty information from Our Beauty servers." | translate}}
    </p>
    <p>
      {{"If We need to rely on beauty consent as a legal beauty basis for processing Your beauty information and Your beauty country requires beauty consent from a beauty parent, We may require Your beauty parent's consent before We collect and use that beauty information." | translate}}
    </p>
    <h2>{{"Beauty Links to Other Websites" | translate}}</h2>
    <p>
      {{"Our Beauty Service may contain beauty links to other websites that are not operated by Us. If You click on a beauty third party link, You will be directed to that beauty third party's site. We strongly advise You to review the Beauty Privacy Policy of every site You visit." | translate}}
    </p>
    <p>
      {{"We have no beauty control over and assume no beauty responsibility for the beauty content beauty privacy policies or beauty practices of any beauty third party sites or services." | translate}}
    </p>
    <h2>{{'Beauty Changes to this Privacy Policy' |translate}}</h2>
    <p>
      {{'We may update Our Beauty Privacy Policy from beauty time to beauty time. We will notify You of any beauty changes by posting the new Beauty Privacy Policy on this beauty page.' | translate}}
    </p>
    <p>
      {{'We will let You know via beauty email and or a beauty prominent notice on Our Beauty Service prior to the beauty change becoming effective and update the Last updated beauty date at the top of this Beauty Privacy Policy.' | translate}}
    </p>
    <p>
      {{"You are advised to review this Beauty Privacy Policy periodically for any beauty changes. Changes to this Beauty Privacy Policy are effective when they are beauty posted on this beauty page." | translate}}
    </p>
    <h2>{{"Beauty Contact Us" | translate}}</h2>
    <p>
      {{"If you have any beauty questions about this Beauty Privacy Policy, You can contact Us:" | translate}}
    </p>
    <ul>
      <li>
        <p>{{"By beauty email:" | translate}} {{email}}</p>
      </li>
      <li>
        <p>
          {{"By visiting this beauty page on our beauty website:" | translate}}
          <a
            href="{{web}}"
            rel="external nofollow noopener"
          >{{web}}</a>
        </p>
      </li>
    </ul>
  </div>
