<div class="container mt-5" [dir]="'dir' | translate">
  <div class="h1 text-center">{{ "Get In Touch" | translate }}</div>
  <!-- <div
    class="alert alert-danger mt-3 text-center"
    role="alert"
    *ngIf="sendMessage.invalid && sendMessage.touched"
  >
    Please fill all the required fields.
  </div> -->
  <div
    class="alert alert-success mt-3 text-center"
    role="alert"
    *ngIf="formSubmitted"
  >
    {{ "Data sent successfully!" | translate }}
  </div>

  <div class="mt-5">
    <div class="row mb-5">
      <div class="col-12 col-lg-6 bg-dark text-light rounded mb-5">
        <h3 class="mb-5 mt-5 text-center">{{ "Contact Us" | translate }}</h3>
        <form
          class="contactForm"
          [formGroup]="sendMessage"
          (ngSubmit)="onSubmit()"
        >
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label class="label" for="name">{{
                  "Full Name" | translate
                }}</label>
                <div
                  class="text-danger"
                  *ngIf="
                    sendMessage.controls['fullName'].touched &&
                    sendMessage.controls['fullName'].invalid
                  "
                >
                  <div
                    *ngIf="
                      sendMessage.controls['fullName'].hasError('required')
                    "
                  >
                    {{ "fullName is required" | translate }}
                  </div>
                </div>
                <input
                  formControlName="fullName"
                  type="text"
                  class="form-control"
                  placeholder="{{ 'Name' | translate }}"
                />
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label class="label" for="email">{{
                  "Email Address" | translate
                }}</label>

                <div
                  class="text-danger"
                  *ngIf="
                    sendMessage.controls['email'].touched &&
                    sendMessage.controls['email'].invalid
                  "
                >
                  <div
                    *ngIf="sendMessage.controls['email'].hasError('required')"
                  >
                    {{ "email is required" | translate }}
                  </div>
                  <div *ngIf="sendMessage.controls['email'].hasError('email')">
                    {{ "email is invalid" | translate }}
                  </div>
                </div>
                <input
                  formControlName="email"
                  type="email"
                  class="form-control"
                  placeholder="{{ 'Email' | translate }}"
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="label" for="subject">{{
                  "Subject" | translate
                }}</label>
                <div
                  class="text-danger"
                  *ngIf="
                    sendMessage.controls['subject'].touched &&
                    sendMessage.controls['subject'].invalid
                  "
                >
                  <div
                    *ngIf="sendMessage.controls['subject'].hasError('required')"
                  >
                    {{ "subject is required" | translate }}
                  </div>
                </div>

                <input
                  formControlName="subject"
                  type="text"
                  class="form-control"
                  placeholder="{{ 'Subject' | translate }}"
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="label" for="#">{{ "Message" | translate }}</label>
                <div
                  class="text-danger"
                  *ngIf="
                    sendMessage.controls['message'].touched &&
                    sendMessage.controls['message'].invalid
                  "
                >
                  <div
                    *ngIf="sendMessage.controls['message'].hasError('required')"
                  >
                    {{ "message is required" | translate }}
                  </div>
                </div>
                <textarea
                  formControlName="message"
                  class="form-control"
                  cols="30"
                  rows="4"
                  placeholder="{{ 'Message' | translate }}"
                ></textarea>
              </div>
            </div>
            <div class="col-md-12 m-2">
              <div class="form-group">
                <input
                  [disabled]="sendMessage.invalid"
                  type="submit"
                  value="{{ 'Send Message' | translate }}"
                  class="btn btn-light"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div
        class="col-12 col-lg-6 d-flex align-items-center justify-content-center"
      >
        <img
          class="img-fluid border rounded"
          src="assets/images/about/2.jpg"
        />
      </div>
    </div>

    <div class="container">
      <div class="row bg-dark text-light p-3 rounded">
        <div class="col-md-4 text-center">
          <div class="contact-item">
            <span class="fa fa-map-marker"></span>
          </div>
          <p>{{ "cairo-Egypt" | translate }}</p>
        </div>
        <div class="col-md-4 text-center">
          <div class="contact-item">
            <span class="fa fa-phone"></span>
          </div>
          <p>
            <a
              href="tel://1234567920"
              class="text-light link-offset-2 link-underline link-underline-opacity-0"
              >{{ "010 687 43 0 43" | translate }}</a
            >
          </p>
        </div>
        <div class="col-md-4 text-center">
          <div class="contact-item">
            <span class="fa fa-paper-plane"></span>
          </div>
          <p>
            <a
              class="text-light link-offset-2 link-underline link-underline-opacity-0"
              href="mailto:info@ta-meri.com"
              >{{ myEmail }}</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
