<div
  class="alert alert-success mt-3 text-center"
  role="alert"
  *ngIf="formSubmitted"
>
  Data sent successfully!
</div>
<div class="forgot-password-wrapper mt-5">
  <div class="logo">
    <img src="../../assets/images/logo.png" alt="" />
  </div>
  <div class="text-center mt-4 name">Forgot Password</div>
  <form class="p-3 mt-3" [formGroup]="forget" (ngSubmit)="onSubmit()">
    <div class="text-danger" *ngIf="forget.controls['phone'].touched && forget.controls['phone'].invalid">
      <div *ngIf="forget.controls['phone'].hasError('required')">
        Phone is required
      </div>
      <div *ngIf="forget.controls['phone'].hasError('pattern')">
        Invalid phone number format. Please enter a valid Egyptian phone number.
      </div>
    </div>
    
    <div class="form-field d-flex align-items-center">
      <span class="fa fa-phone"></span>
      <input
        formControlName="phone"
        type="text"
        name="phone"
        id="phone"
        placeholder="Enter Your Phone Number"
        required
      />
    </div>
    <input
      [disabled]="forget.invalid"
      type="submit"
      value="Reset Password"
      class="btn mt-3"
    />
  </form>
  <div class="text-center fs-6">
    <a routerLink="/login">Remembered your password? Login here</a>
  </div>
</div>
