<div
  class="alert alert-success mt-3 text-center"
  role="alert"
  *ngIf="formSubmitted"
>
  Data sent successfully!
</div>
<div class="forgot-password-wrapper">
  <div class="logo">
    <img src="../../assets/images/logo.png" alt="" />
  </div>
  <div class="text-center mt-4 name">Forgot Password</div>
  <form class="p-3 mt-3" [formGroup]="forget" (ngSubmit)="onSubmit()">
    <div
      class="text-danger"
      *ngIf="
        forget.controls['email'].touched && forget.controls['email'].invalid
      "
    >
      <div *ngIf="forget.controls['email'].hasError('required')">
        Email is required
      </div>
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="far fa-envelope"></span>
      <input
        formControlName="email"
        type="email"
        name="email"
        id="email"
        placeholder="Enter Your Email"
        required
      />
    </div>
    <input
      [disabled]="forget.invalid"
      type="submit"
      value="Reset Password"
      class="btn mt-3"
    />
  </form>
  <div class="text-center fs-6">
    <a routerLink="/login">Remembered your password? Login here</a>
  </div>
</div>
