<div
  class="alert alert-success mt-3 text-center"
  role="alert"
  *ngIf="formSubmitted"
  [dir]="'dir' | translate"
>
  {{ "Data sent successfully!" | translate }}
</div>
<div class="forgot-password-wrapper mt-5">
  <div class="logo">
    <img src="../../assets/images/logo.png" alt="" />
  </div>
  <div class="text-center mt-4 name">{{ "Forgot Password" | translate }}</div>
  <form
    class="p-3 mt-3"
    [formGroup]="forget"
    (ngSubmit)="onSubmit()"
    [dir]="'dir' | translate"
  >
    <div
      class="text-danger"
      *ngIf="
        forget.controls['phone'].touched && forget.controls['phone'].invalid
      "
    >
      <div *ngIf="forget.controls['phone'].hasError('required')">
        {{ "Phone is required" | translate }}
      </div>
      <div *ngIf="forget.controls['phone'].hasError('pattern')">
        {{
          "Invalid phone number format. Please enter a valid Egyptian phone number."
            | translate
        }}
      </div>
    </div>

    <div class="form-field d-flex align-items-center">
      <span class="fa fa-phone"></span>
      <input
        formControlName="phone"
        type="text"
        name="phone"
        id="phone"
        placeholder="{{ 'Enter Your Phone Number' | translate }}"
        required
      />
    </div>
    <input
      [disabled]="forget.invalid"
      type="submit"
      value="{{ 'Reset Password' | translate }}"
      class="btn mt-3"
    />
  </form>
  <div class="text-center fs-6">
    <a routerLink="/login"
      >{{ "Remembered your password?" | translate }}
      {{ "Login here" | translate }}</a
    >
  </div>
</div>
