<footer class="position-relative" [dir]="'dir' | translate">
  <div class="container-fluid footer mt-5 py-3">
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-lg-3 col-md-6">
          <h5 class="text-warning mb-4 head">{{ "Our Office" | translate }}</h5>
          <p class="mb-2 text-white head">
            <i class="fa fa-map-marker-alt me-3"></i
            >{{ "cairo-Egypt" | translate }}
          </p>
          <p class="mb-2 text-white head">
            <i class="fa fa-phone-alt me-3"></i
            >{{ "010 687 43 0 43" | translate }}
          </p>
          <p class="mb-2 text-white head">
            <i class="fa fa-envelope me-3"></i> {{ email }}
          </p>
          <div class="d-flex pt-3">
            <a class="btn btn-square primary-bg rounded-circle"
              ><i class="fab fa-instagram logo"></i
            ></a>
            <a
              href="https://www.facebook.com/rimansan.net"
              target="_blank"
              class="btn btn-square primary-bg rounded-circle"
              ><i class="fab fa-facebook-f logo"></i
            ></a>
            <a
              href="https://www.tiktok.com/@rimansan.net"
              target="_blank"
              class="btn btn-square primary-bg rounded-circle"
              ><i class="fab fa-tiktok logo"></i
            ></a>
            <a
              href="https://www.youtube.com/@-rimansan"
              target="_blank"
              class="btn btn-square primary-bg rounded-circle"
              ><i class="fab fa-youtube logo"></i
            ></a>
            <a
              href="https://www.linkedin.com/company/riman-san/"
              target="_blank"
              class="btn btn-square primary-bg rounded-circle"
              ><i class="fab fa-linkedin-in logo"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="text-warning mb-4 head">
            {{ "Quick Links" | translate }}
          </h5>
          <a class="btn btn-link" routerLink="contact">{{
            "Contact Us" | translate
          }}</a>
          <a class="btn btn-link" routerLink="privacy-policy">{{
            "Privacy Policy" | translate
          }}</a>
          <a class="btn btn-link" routerLink="terms-conditions">{{
            "Terms and Conditions" | translate
          }}</a>
          <a class="btn btn-link" routerLink="faqs">{{ "FAQs" | translate }}</a>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="text-warning mb-4 head">
            {{ "Business Hours" | translate }}
          </h5>
          <p class="mb-1 head">{{ "Saturday - Thursday" | translate }}</p>
          <h6 class="text-success head">
            09:00 {{ "am" | translate }} - 05:00 {{ "pm" | translate }}
          </h6>
          <p class="mb-1 head">{{ "Friday" | translate }}</p>
          <h6 class="text-danger head">{{ "Closed" | translate }}</h6>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="d-flex w-100 justify-content-center flex-wrap">
            <img
              src="/assets/images/logo.png"
              width="80%"
              class="mb-3 mt-5 logo"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End -->

  <!-- Copyright Start -->

  <div class="container-fluid copyright py-1">
    <div class="container text-center">
      <div class="logo">
        {{ "Copyright &copy; Riman-San, All Right Reserved." | translate }}
      </div>
      <small class="logo">
        {{ "Made with" | translate }} <span style="color: red">&hearts;</span>
        {{ "by" | translate }}
        <a href="https://www.linkedin.com/in/hamza-halawa/" target="_blank">
          {{ "Hamza Halawa" | translate }}</a
        >
        </small>
    </div>
  </div>
</footer>
<app-back-to-top></app-back-to-top>
