<footer class="position-relative">
  <div class="container-fluid footer mt-5 py-3">
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-lg-3 col-md-6">
          <h5 class="text-warning mb-4 head">Our Office</h5>
          <p class="mb-2 text-white head">
            <i class="fa fa-map-marker-alt me-3"></i>Egypt - cairo
          </p>
          <p class="mb-2 text-white head">
            <i class="fa fa-phone-alt me-3"></i>010 687 43 0 43
          </p>
          <p class="mb-2 text-white head">
            <i class="fa fa-envelope me-3"></i> {{email}}
          </p>
          <div class="d-flex pt-3 ">
            <a class="btn btn-square primary-bg rounded-circle "
              ><i class="fab fa-instagram"></i
            ></a>
            <a href="https://www.facebook.com/rimansan.net" target="_blank" class="btn btn-square primary-bg rounded-circle"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a href="https://www.tiktok.com/@rimansan.net" target="_blank" class="btn btn-square primary-bg rounded-circle"
              ><i class="fab fa-tiktok"></i
            ></a>
            <a href="https://www.youtube.com/@-rimansan" target="_blank" class="btn btn-square primary-bg rounded-circle"
              ><i class="fab fa-youtube"></i
            ></a>
            <a href="https://www.linkedin.com/company/riman-san/" target="_blank" class="btn btn-square primary-bg rounded-circle"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="text-warning mb-4 head">Quick Links</h5>
          <a href="#" class="btn btn-link" routerLink="contact"
            >Contact us</a
          >
          <a href="#" class="btn btn-link" routerLink="privacy-policy"
            >Privacy Policy</a
          >
          <a href="#" class="btn btn-link" routerLink="terms-conditions"
            >Terms and Conditions</a
          >
          <a href="#" class="btn btn-link" routerLink="faqs">FAQs</a>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="text-warning mb-4 head">Business Hours</h5>
          <p class="mb-1 head">Saturday - Thursday</p>
          <h6 class="text-success head">09:00 am - 05:00 pm</h6>
          <p class="mb-1 head">Friday</p>
          <h6 class="text-danger head">Closed</h6>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="text-warning mb-4 head">Gallery</h5>
          <div class="d-flex w-100 justify-content-between flex-wrap ">
            <img
              src="/assets/images/carusol/1.jpg"
              width="30%"
              class="mb-3"
            />
            <img
              src="/assets/images/carusol/2.jpg"
              width="30%"
              class="mb-3"
            />
            <img
              src="/assets/images/carusol/3.jpg"
              width="33%"
              class="mb-3"
            />
            <img
              src="/assets/images/carusol/4.jpg"
              width="30%"
              class="mb-3"
            />
            <img
              src="/assets/images/carusol/7.jpg"
              width="30%"
              class="mb-3"
            />
            <img
              src="/assets/images/carusol/6.jpg"
              width="33%"
              class="mb-3"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End -->

  <!-- Copyright Start -->

 <div class="container-fluid copyright py-1 ">
    <div class="container text-center">
      <p class="">Copyright &copy; Riman-San, All Right Reserved.</p>
      <p class="">
        Made with <span style="color: red">&hearts;</span> by
        <a href="https://www.linkedin.com/in/hamza-halawa/" target="_blank"> Hamza Halawa</a>
      </p>
    </div>
  </div>
</footer>
<app-back-to-top></app-back-to-top>
