
<swiper-container class="mb-5">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"
          *ngFor="let products of product"
        >
          <swiper-slide>
            <a [routerLink]="['/products',products.id]">
              <img src="{{imgUrl}}{{products.img}}" alt="">
            </a>
          </swiper-slide>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </swiper-container>
      