
  <!-- <div class="language-switcher" >
  <label for="languageSelect">Select Language:</label>
  <div class="buttons-container">
    <button (click)="changeLanguage('en')" class="language-button" *ngIf="!isArabicSelected">English</button>
    <button (click)="changeLanguage('ar')" class="language-button" *ngIf="!isEngilshSelected">Arabic</button>
  </div>
</div> -->



<div class="language-switcher">
  <label for="languageSelect">Select Language:</label>
  <div class="buttons-container">
    <button (click)="changeLanguage('en')" class="language-button" *ngIf="!isEnglishSelected">English</button>
    <button (click)="changeLanguage('ar')" class="language-button" *ngIf="!isArabicSelected">Arabic</button>
  </div>
</div>
