input[type=number] {
	text-align: center;
	appearance: textfield;
}
.table-responsive {
	overflow-x: auto;
  }
  /* For Webkit browsers (Chrome, Safari) */
.table-responsive::-webkit-scrollbar {
	width: 12px;
  }
  
  .table-responsive::-webkit-scrollbar-thumb {
	background-color: #6c757d;
	border-radius: 8px;
  }
  
  .table-responsive::-webkit-scrollbar-thumb:hover {
	background-color: #495057;
  }
  
  .table-responsive::-webkit-scrollbar-track {
	background-color: #e9ecef;
  }
  
  /* For Firefox */
  .table-responsive {
	scrollbar-width: thin;
	scrollbar-color: #6c757d #e9ecef;
  }
  
  .table-responsive:hover {
	scrollbar-color: #a3c9f0 #e9ecef;
  }
  